<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>UberMailDelete</title>
        <style>
            .loader-small {
                border: 0.2rem solid #f3f3f3; /* Light grey */
                border-top: 0.2rem solid #3498db; /* Blue */
                border-radius: 50%;
                width: 1rem;
                height: 1rem;
                animation: spin 2s linear infinite;
                float: right;
            }

            .loader {
                border: 16px solid #f3f3f3; /* Light grey */
                border-top: 16px solid #3498db; /* Blue */
                border-radius: 50%;
                width: 120px;
                height: 120px;
                animation: spin 2s linear infinite;
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }


        </style>
        <script>
            function confirmDelete() {
                var mailUsers = document.getElementsByName('mailUsers');
                var atLeastOne = false;
                for ( var i=0 ,l=mailUsers.length ; i<l ; i++) {
                    if ( mailUsers[i].checked) {
                        atLeastOne = true;
                    }
                }

                
                maxSizeFilter = document.getElementsByName('maxSizeFilter')[0].checked;
                maxAgeFilter = document.getElementsByName('maxAgeFilter')[0].checked;

                if (atLeastOne && ( maxSizeFilter || maxAgeFilter)) {
                    return confirm('bist Du wirklich sicher?');
                } else {
                    if (!atLeastOne) {
                        alert('mindestens einen Account wählen.');
                    } else {
                        alert('mindestens einen filter wählen.');
                    }
                    return false;
                }
            
            }
        </script>
	</head>
	<body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul style="background: red;">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <div style="max-width: 900px; margin: auto;">
            <div style='clear: both; max-width: 400px; margin: auto; padding: 1rem;'>
                <h1>
                    <a href="{{ url_for('logout') }}">logout</a>
                </h1>  
            </div>
            <form method="post" onsubmit="return confirmDelete()">
                <div id="userList">
                </div>
                <p>
                    <label>
                        <input type="checkbox" name="maxAgeFilter">
                        Älter als:
                        <input type="number" name="maxAge" min=1 max=800 step=1 value=300>
                        Tage
                    </label>
                </p>
                <p>
                    <label>
                        <input type="checkbox" name="maxSizeFilter">
                        Größer als:
                        <input type="number" name="maxSize" min=0.5 step=0.5 value=10>
                        megabyte
                    </label>
                </p>
                <p>
                    <input type="submit" name="uberMailDelete" value="delete">
                </p>
            </form>
            <p>
                <button type="button" onclick="ajaxDelete()">Ajax POST delete</button>
            </p>
        </div>
        <script>
            "use strict";

            /* -------------------  */
            /* show spinner */
            document.getElementById('userList').innerHTML = 'LOADING...<div class="loader"></div>';
            
            
            /* -------------------  */
            /* get diskusage in background */
            var xmlhttp = new XMLHttpRequest();
            var url = "/ajax/diskusage";

            function fillList(data) {
                var out = "";
                for(var i = 0; i < data.length; i++) {
                    out += '<div id="' + data[i].name + '"'
                            + 'style="clear: both; max-width: 400px; margin: auto; padding: 1rem;">'
                            + data[i].name + ' ==== ' + data[i].size
                            + '<input type="checkbox" name="mailUsers" value="' + data[i].name + '" >'
                            + '</div>';
                }
                document.getElementById('userList').innerHTML = out;
            }

            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var resp = JSON.parse(this.responseText);
                    fillList(resp);
                }
            };

            xmlhttp.open("GET", url, true);
            xmlhttp.send();

            /* -------------------  */
            /*  Delete mails in background */
            function ajaxDelete() {
                /* collect users  */
                var userList = document.getElementsByName('mailUsers');
                var deleteUserList = [];
                for (var i=0; i < userList.length; i++ ) {
                    if (userList[i].checked) {
                        deleteUserList.push(userList[i].value);
                    }
                }
                /* read Filtersettings*/
                var maxAgeFilter = document.getElementsByName('maxAgeFilter')[0].checked;
                var maxSizeFilter = document.getElementsByName('maxSizeFilter')[0].checked;
                var maxAge = document.getElementsByName('maxAge')[0].value.toString(); 
                var maxSize = document.getElementsByName('maxSize')[0].value.toString(); 
                var postParams = "";
                /* build post parameter */
                if (maxAgeFilter) { 
                    postParams += 'maxAgeFilter=true&maxAge=' + maxAge + '&';
                }
                if (maxSizeFilter) {
                    postParams += 'maxSizeFilter=true&maxSize=' + maxSize + '&';
                }
                /* strip lst '&' */
                postParams = postParams.slice(0,-1);

                // alert(deleteUserList + '\n' + postParams);

                /* post request per user in list */

                for (var i=0; i < deleteUserList.length; i++) {
                
                    var xmlhttp = new XMLHttpRequest();
                    var url = "/ajax/delete/" + deleteUserList[i];
                    xmlhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            var resp = JSON.parse(this.responseText);
                            alert(JSON.stringify(resp));
                            /* reload diskusage for user here and display freed space  */
                        }
                    };
                    xmlhttp.open("POST", url, true);
                    alert(postParams);
                    xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xmlhttp.send(postParams);
                    document.getElementById(deleteUserList[i]).innerHTML = ' praktikant <div class="loader-small"></div>';
                }
            }

        </script>
	</body>
</html>
